{% extends "layout.html" %}
{% block content %}

<div class="wrapper">
<div class="left"><img src="{{ url_for('static', filename='an_icon.png') }}" width=100 height=100></div>
<div class="right">
    <h1>About Assassins' Network</h1>
    <div class="warning">
    <h3>Disclaimer</h3>
    <p>This website is in no way affiliated with Ubisoft and should not be confused with their service, Assassin's Network.</p>
    </div>
    Assassins' Network is a community project focused around the Assassin's Creed series multiplayer community. It is entirely self-funded and does not accept donations. All source code is publicized on <A href="https://github.com/ACBMP/">the ACBMP GitHub organization's profile</A>.
    </div>

    </div>
{% endblock content %}
