{% extends "layout.html" %}
{% block content %}
<meta content="Assassins' Network | Achievements Leaderboard" property="og:title" />
<meta content="Achievements leaderboard." property="og:description" />
    {% for badge in data %}
        <h1 align="center">{{ badge.badge }} Leaderboard</h1>
        <br \>
        <div align="center">
        <table style="white-space:nowrap;">
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Nation</th>
                <th>Count</th>
            </tr>
            {% for entry in badges.entries %}
                <td></td>
                <td><a href="/profile/{{ entry.name }}">{{ entry.name }}</a></td>
                <td>{{ entry.nation }}</td>
                <td></td>
            {% endfor %}
        </table>
        </div>
    {% endfor %}
{% endblock content %}
