{% extends "layout.html" %}
{% block content %}
<meta content="Assassins' Network | Maps" property="og:title" />
<meta content="Map statistics for Assassin's Creed multiplayer." property="og:description" />
<meta content="https://assassins.network/maps" property="og:url" />
    {% for mode in modes %}
        <h1 align="center">{{mode}} Map Statistics</h1>
        <br \>
        <div align="center">
        <table style="white-space:nowrap;">
            <tr>
                <th>Name</th>
                <th>Games</th>
            {%if mode == "Manhunt"%}
	            <th title="Average score of an individual player in a game">Avg score</th>
	            <th title="Average kills of an individual player in a game">Avg kills</th>
	            <th title="Host team rating compared to other maps">Host rating</th>
	            <th title="Host team win rate">Host winrate</th>
            {%elif mode == "Escort"%}
	            <th title="Average score of an individual player in a game">Avg score</th>
                <!-- <th title="Average VIP kills of an individual player in a game">Avg VIPs</th> -->
	            <th title="Average defending kills of an individual player in a game">Avg kills</th>
	            <th title="Host team rating compared to other maps">Host rating</th>
	            <th title="Host team win rate">Host winrate</th>
            {%elif mode == "Artifact Assault"%}
	            <th title="Average scores of non-host team in a game">Avg non-host scores</th>
	            <th title="Average scores of host team in a game">Avg host scores</th>
	            <th title="Host team rating compared to other maps">Host rating</th>
	            <th title="Host team win rate">Host winrate</th>
                <th title="Rate of ties">Tierate</th>
            {%elif mode == "Domination"%}
	            <th title="Average score of an individual player in a game">Avg score</th>
	            <th title="Average kills of an individual player in a game">Avg kills</th>
	            <th title="Host team rating compared to other maps">Host rating</th>
	            <th title="Host team win rate">Host winrate</th>
            {%elif mode == "Deathmatch"%}
                <th title="Average score of an individual player in a game">Avg score</th>
                <th title="Average kills of an individual player in a game">Avg kills</th>
                <th title="Host rating compared to other maps">Host rating</th>
                <th title="Host win rate">Host winrate</th>
            {%elif mode == "Assassinate Brotherhood"%}
                <th title="Average score of an individual player in a game">Avg score</th>
                <th title="Average kills of an individual player in a game">Avg kills</th>
                <th title="Host rating compared to other maps">Host rating</th>
                <th title="Host win rate">Host winrate</th>
            {%endif%}
            </tr>
        {% for entry in data[mode] %}
        <tr>
            {%if mode == "Escort"%}
                <td>{{ entry.name }}</td>
                <td>{{ entry.games }}</td>
                <td>{{ entry.score | avgscore(entry.players) }}</td>
                <!-- <td>{{ entry.kills | sub(entry.deaths) | avgscore(entry.players) }}</td> -->
                <td>{{ entry.deaths | avgscore(entry.players) }}</td>
                <td>{{ entry.hostrating }}</td>
                <td>{{ entry.hostwins | winrate(entry.hostlosses) }}</td>
            {%elif mode == "Manhunt"%}
                <td>{{ entry.name }}</td>
                <td>{{ entry.games }}</td>
                <td>{{ entry.score | avgscore(entry.players) }}</td>
                <td>{{ entry.kills | avgscore(entry.players) }}</td>
                <td>{{ entry.hostrating }}</td>
                <td>{{ entry.hostwins | winrate(entry.hostlosses) }}</td>
            {%elif mode == "Artifact Assault"%}
                <td>{{ entry.name }}</td>
                <td>{{ entry.games }}</td>
                <td>{{ entry.scored | sub(entry.hostscored) | avgscore(entry.games) }}</td>
                <td>{{ entry.hostscored | avgscore(entry.games) }}</td>
                <td>{{ entry.hostrating }}</td>
                <td>{{ entry.hostwins | winrate(entry.hostlosses) }}</td>
                <td>{{ entry.games | tierate(entry.hostwins, entry.hostlosses) }}</td>
            {%elif mode == "Domination"%}
                <td>{{ entry.name }}</td>
                <td>{{ entry.games }}</td>
                <td>{{ entry.score | avgscore(entry.players) }}</td>
                <td>{{ entry.kills | avgscore(entry.players) }}</td>
                <td>{{ entry.hostrating }}</td>
                <td>{{ entry.hostwins | winrate(entry.hostlosses) }}</td>
            {%elif mode == "Deathmatch"%}
                <td>{{ entry.name }}</td>
                <td>{{ entry.games }}</td>
                <td>{{ entry.score | avgscore(entry.players) }}</td>
                <td>{{ entry.kills | avgscore(entry.players) }}</td>
                <td>{{ entry.hostrating }}</td>
                <td>{{ entry.hostwins | winrate(entry.hostlosses) }}</td>
            {%elif mode == "Assassinate Brotherhood"%}
                <td>{{ entry.name }}</td>
                <td>{{ entry.games }}</td>
                <td>{{ entry.score | avgscore(entry.players) }}</td>
                <td>{{ entry.kills | avgscore(entry.players) }}</td>
                <td>{{ entry.hostrating }}</td>
                <td>{{ entry.hostwins | winrate(entry.hostlosses) }}</td>
            {%endif%}
        </tr>
        {% endfor %}
        </table>
        </div>
        <br \>
    {% endfor %}
    {% endblock content %}
