{% extends "layout.html" %}
{% block content %}
    {% for mode in modes %}
        <h1 align="center">{{mode}} Map Statistics</h1>
        <br \>
        <div align="center">
        <table style="white-space:nowrap;">
            <tr>
                <th>Name</th>
                <th>Games</th>
            {%if mode == "Manhunt"%}
	            <th>Avg score</th>
	            <th>Avg kills</th>
	            <th>Host rating</th>
	            <th>Host winrate</th>
            {%elif mode == "Escort"%}
	            <th>Avg score</th>
	            <th>Avg VIPs</th>
	            <th>Avg kills</th>
	            <th>Host rating</th>
	            <th>Host winrate</th>
            {%elif mode == "Artifact Assault"%}
	            <th>Avg scores</th>
	            <th>Host rating</th>
	            <th>Host winrate</th>
            {%elif mode == "Domination"%}
	            <th>Avg score</th>
	            <th>Avg kills</th>
	            <th>Host rating</th>
	            <th>Host winrate</th>
            {%endif%}
            </tr>
        {% for entry in data[mode] %}
        <tr>
            {%if mode == "Escort"%}
                <td>{{ entry.name }}</td>
                <td>{{ entry.games }}</td>
                <td>{{ entry.score | avgscore(entry.players) }}</td>
                <td>{{ entry.kills | vips(entry.deaths) | avgscore(entry.players) }}</td>
                <td>{{ entry.deaths | avgscore(entry.players) }}</td>
                <td>{{ entry.hostrating }}</td>
                <td>{{ entry.hostwins | winrate(entry.hostlosses) }}</td>
            {%elif mode == "Manhunt"%}
                <td>{{ entry.name }}</td>
                <td>{{ entry.games }}</td>
                <td>{{ entry.score | avgscore(entry.players) }}</td>
                <td>{{ entry.kills | avgscore(entry.players) }}</td>
                <td>{{ entry.hostrating }}</td>
                <td>{{ entry.host | winrate(entry.hostlosses) }}</td>
            {%elif mode == "Artifact Assault"%}
                <td>{{ entry.name }}</td>
                <td>{{ entry.games }}</td>
                <td>{{ entry.scores | avgscore(entry.players) }}</td>
                <td>{{ entry.hostrating }}</td>
                <td>{{ entry.host | winrate(entry.hostlosses) }}</td>
            {%elif mode == "Domination"%}
                <td>{{ entry.name }}</td>
                <td>{{ entry.games }}</td>
                <td>{{ entry.score | avgscore(entry.players) }}</td>
                <td>{{ entry.kills | avgscore(entry.players) }}</td>
                <td>{{ entry.hostrating }}</td>
                <td>{{ entry.host | winrate(entry.hostlosses) }}</td>
            {%endif%}
        </tr>
        {% endfor %}
        </table>
        </div>
        <br \>
    {% endfor %}
    {% endblock content %}
