{% extends "layout.html" %}
{% block content %}
    <h1 align="center">Player Database</h1>
    <br \>
    <div align="center">
    <table class="profile-list-table">
        <tr>
            <th>Player</th>
            <th>Nation</th>
            <th>IGNs</th>
            <th>Platform</th>
          </tr>
    {% for entry in data %}
    <tr>
        <td><a href="/profile/{{entry.name}}">{{entry.name}}</a></td>
        <td><img src="https://raw.githubusercontent.com/gosquared/flags/master/flags/flags-iso/flat/24/{{entry.nation}}.png"></td>
        <td>{{entry.ign|join(", ") }}</td>
        <td>{{entry.platforms|join(", ") }}</td>
    </tr>
    {% endfor %}
    </table>
    </div>
    {% endblock content %}
