{% extends "layout.html" %}
{% block content %}
{% if data%}
<meta content="Assassins' Network | {{ data.name }}" property="og:title" />
<meta content="{{ data.name }}'s Assassins' Network Profile." property="og:description" />
<meta content="https://assassins.network/profile/{{ data.name }}" property="og:url" />
<p align="center">{{ [data.mhmmr, data.emmr, data.aarmmr, data.aadmmr]|max()|rank_title() }}</p>
   <h1 align="center">{{data.name}} <img src="https://raw.githubusercontent.com/gosquared/flags/master/flags/flags-iso/flat/48/{{data.nation}}.png"></h1>
        <br \>
<div align="center">
   {%if data.mhgames.total > 9%}
   <div style="width: 200px;display: inline-block">
   <center>
   <p align="center" style="font-weight: bold">Manhunt Rank</p>
   <img src="/static/badges/{{ data.mhmmr|rank_pic_big() }}"><br \><br \>
   <p align="center">{{ data.mhmmr|rank_title() }}</p>
   </center>
   </div>
   {%endif%}
   {%if data.egames.total > 9%}
   <div style="width: 200px;display: inline-block">
   <center>
   <p align="center" style="font-weight: bold">Escort Rank</p>
   <img src="/static/badges/{{ data.emmr|rank_pic_big() }}"><br \><br \>
   <p align="center">{{ data.emmr|rank_title() }}</p>
    </center>
   </div>
   {%endif%}
   {%if data.aadgames.total > 9%}
      <div style="width: 200px;display: inline-block">
   <center>
   <p align="center" style="font-weight: bold">AA Defender Rank</p>
   <img src="/static/badges/{{ data.aadmmr|rank_pic_big() }}"><br \><br \>
   <p align="center">{{ data.aadmmr|rank_title() }}</p>
   </center>
   </div>
   {%endif%}
   {%if data.aargames.total > 9%}
      <div style="width: 200px;display: inline-block">
   <center>
   <p align="center" style="font-weight: bold">AA Runner Rank</p>
   <img src="/static/badges/{{ data.aarmmr|rank_pic_big() }}"><br \><br \>
   <p align="center">{{ data.aarmmr|rank_title() }}</p>
   </center>
   </div>
   {%endif%}
   {%if data.dogames.total > 9%}
      <div style="width: 200px;display: inline-block">
   <center>
   <p align="center" style="font-weight: bold">Domination Rank</p>
   <img src="/static/badges/{{ data.dommr|rank_pic_big() }}"><br \><br \>
   <p align="center">{{ data.dommr|rank_title() }}</p>
   </center>
   {%endif%}
   {%if data.dmgames.total > 9%}
   <div style="width: 200px;display: inline-block">
    <center>
    <p align="center" style="font-weight: bold">Deathmatch Rank</p>
    <img src="/static/badges/{{ data.dmmmr|rank_pic_big() }}"><br \><br \>
    <p align="center">{{ data.dmmmr|rank_title() }}</p>
    </center>
    {%endif%}
</div>
<br \>
    <div align="center">
        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="home" aria-selected="true">Player Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="matches-tab" data-toggle="tab" href="#matches" role="tab" aria-controls="profile" aria-selected="false">Match History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mmrhistory-tab" data-toggle="tab" href="#mmrhistory" role="tab" aria-controls="profile" aria-selected="false">MMR History</a>
            </li>
            </ul>
    </div>
<div class="tab-content" id="myTabContent">
    <br \>
<div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
<h3 align="center">Player info</h3>
<br \>
<div align="center">
<table class="profile-table">
<tr><td><b>IGNs</b></td><td>{{data.ign|join(", ") }}</td></tr>
<tr><td><b>Platforms</b></td><td>{{data.platforms|join(", ") }}</td></tr>
<tr><td><b>Link</b></td><td><a href="{{data.link}}" target="_blank">{{data.link}}</a></td></tr>
<tr><td><b>Achievements</b></td><td>{{data.badges|full_badge_names()|safe}}</td></tr>
</table> <br \>
   
   <div align="center">
        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="e_mh-tab" data-toggle="tab" href="#emhtab" role="tab" aria-controls="home" aria-selected="true">Escort & Manhunt (ACB)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="aa-tab" data-toggle="tab" href="#aatab" role="tab" aria-controls="profile" aria-selected="false">Artifact Assault (ACR)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="do-tab" data-toggle="tab" href="#dotab" role="tab" aria-controls="profile" aria-selected="false">Domination (AC4)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="do-tab" data-toggle="tab" href="#dmtab" role="tab" aria-controls="profile" aria-selected="false">Free For All</a>
            </li>
            </ul>
    </div>
<div class="tab-content" id="myTabContent">
    <br \>
    <div class="tab-pane fade show active" id="emhtab" role="tabpanel" aria-labelledby="e_mh-tab">
        <table class="profile-table">
            <tr>
                <th> </th>
                <th>Manhunt</th>
                <th>Escort</th>
            </tr>
            <tr><td><b>MMR</b></td>
                <td>{{data.mhmmr | round() | int() }}</td>
                <td>{{data.emmr | round() | int() }}</td>
            </tr>
            <tr><td><b>Peak MMR</b></td>
                <td>{{data.mhhistory.mmrs|max() | round() | int() }}</td>
                <td>{{data.ehistory.mmrs|max() | round() | int() }}</td>
            </tr>
            <tr><td><b>Games played</b></td>
                <td>{{data.mhgames.total}}</td>
                <td>{{data.egames.total}}</td>
            </tr>
            <tr><td><b>Games won</b></td>
                <td>{{data.mhgames.won}}</td>
                <td>{{data.egames.won}}</td>
            </tr>
            <tr><td><b>Games lost</b></td>
                <td>{{data.mhgames.lost}}</td>
                <td>{{data.egames.lost}}</td>
            </tr>
            <tr><td><b>Winrate</b></td>
                <td>{{ data.mhgames.won|winrate(data.mhgames.lost) }}</td>
                <td>{{ data.egames.won|winrate(data.egames.lost) }}</td>
            </tr>
            <tr><td><b>Average score</b></td>
                <td>{{ data.mhstats.totalscore|avgscore(data.mhgames.total) }}</td>
                <td>{{ data.estats.totalscore|avgscore(data.egames.total) }}</td>
            </tr>
            <tr><td><b>Highest score</b></td>
                <td>{{ data.mhstats.highscore }}</td>
                <td>{{ data.estats.highscore }}</td>
            </tr>
            <tr><td><b>K/D ratio</b></td>
                <td>{{ data.mhstats.kills|kdratio(data.mhstats.deaths) }}</td>
                <td>{{ data.estats.kills|kdratio(data.estats.deaths) }}</td>
            </tr>
            <tr><td><b>Average kills</b></td>
                <td>{{ data.mhstats.kills|avgkills(data.mhgames.total) }}</td>
                <td>{{ data.estats.kills|avgkills(data.egames.total) }}</td>
            </tr>
            <tr><td><b>Average deaths</b></td>
                <td>{{ data.mhstats.deaths|avgdeaths(data.mhgames.total) }}</td>
                <td>{{ data.estats.deaths|avgdeaths(data.egames.total) }}</td>
            </tr>
        </table>
        <br \>

        <div class="container">
            <div class="pie-chart">
                <canvas id="echart"></canvas>
                <br \>
            </div>
            <div class="pie-chart">
                <canvas id="mhchart"></canvas>
                <br \>
            </div>
            <div class="pie-chart">
                <canvas id="gchart"></canvas>
                <br \>
            </div>
        </div>
    </div>
    
    <div class="tab-pane fade" id="aatab" role="tabpanel" aria-labelledby="aa-tab">          
        <table class="profile-table">
            <tr>
                <th></th>
                <th>Defending</th>
            </tr>
            <tr><td><b>MMR</b></td>
                <td>{{data.aadmmr | round() | int() }}</td>
            </tr>
            <tr><td><b>Peak MMR</b></td>
                <td>{{data.aadhistory.mmrs|max() | round() | int() }}</td>
            </tr>
            <tr><td><b>Games played</b></td>
                <td>{{data.aadgames.total}}</td>
            </tr>
            <tr><td><b>Games won</b></td>
                <td>{{data.aadgames.won}}</td>
            </tr>
            <tr><td><b>Games lost</b></td>
                <td>{{data.aadgames.lost}}</td>
            </tr>
            <tr><td><b>Winrate</b></td>
                <td>{{ data.aadgames.won|winrate(data.aadgames.lost) }}</td>
            </tr>
            <tr><td><b>Average score</b></td>
                <td>{{ data.aadstats.totalscore|avgscore(data.aadgames.total) }}</td>
            </tr>
            <tr><td><b>Average kills</b></td>
                <td>{{ data.aadstats.kills|avgkills(data.aadgames.total) }}</td>
            </tr>
            <tr><td><b>Average artifacts conceded</b></td>
                <td>{{ data.aadstats.conceded|avgdeaths(data.aadgames.total) }}</td>
            </tr>
        </table>
        <br \>
        <table class="profile-table">
            <tr>
                <th></th>
                <th>Running</th>
            </tr>
            <tr><td><b>MMR</b></td>
                <td>{{data.aarmmr | round() | int() }}</td>
            </tr>
            <tr><td><b>Peak MMR</b></td>
                <td>{{data.aarhistory.mmrs|max() | round() | int() }}</td>
            </tr>
            <tr><td><b>Games played</b></td>
                <td>{{data.aargames.total}}</td>
            </tr>
            <tr><td><b>Games won</b></td>
                <td>{{data.aargames.won}}</td>
            </tr>
            <tr><td><b>Games lost</b></td>
                <td>{{data.aargames.lost}}</td>
            </tr>
            <tr><td><b>Winrate</b></td>
                <td>{{ data.aargames.won|winrate(data.aargames.lost) }}</td>
            </tr>
            <tr><td><b>Average score</b></td>
                <td>{{ data.aarstats.totalscore|avgscore(data.aargames.total) }}</td>
            </tr>
            <tr><td><b>Average artifacts scored</b></td>
                <td>{{ data.aarstats.scored|avgkills(data.aargames.total) }}</td>
            </tr>
            <tr><td><b>Average deaths per artifact</b></td>
                <td>{{ data.aarstats.deaths|avgdeaths(data.aarstats.scored) }}</td>
            </tr>
            <tr><td><b>Average kills</b></td>
                <td>{{ data.aarstats.kills|avgdeaths(data.aargames.total) }}</td>
            </tr>
        </table> 
        <br \>
        <div class="container">
            <div class="pie-chart">
                <canvas id="aachart"></canvas>
                <br \>
            </div>
            <div class="pie-chart">
                <canvas id="aadchart"></canvas>
                <br \>
            </div>
            <div class="pie-chart">
                <canvas id="aarchart"></canvas>
                <br \>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="dotab" role="tabpanel" aria-labelledby="do-tab">
        <table class="profile-table">
            <tr><td><b>MMR</b></td>
                <td>{{data.dommr | round() | int() }}</td>
            </tr>
            <tr><td><b>Peak MMR</b></td>
                <td>{{data.dohistory.mmrs|max() | round() | int() }}</td>
            </tr>
            <tr><td><b>Games played</b></td>
                <td>{{data.dogames.total}}</td>
            </tr>
            <tr><td><b>Games won</b></td>
                <td>{{data.dogames.won}}</td>
            </tr>
            <tr><td><b>Games lost</b></td>
                <td>{{data.dogames.lost}}</td>
            </tr>
            <tr><td><b>Winrate</b></td>
                <td>{{ data.dogames.won|winrate(data.dogames.lost) }}</td>
            </tr>
            <tr><td><b>Average score</b></td>
                <td>{{ data.dostats.totalscore|avgscore(data.dogames.total) }}</td>
            </tr>
            <tr><td><b>Highest score</b></td>
                <td>{{ data.dostats.highscore }}</td>
            </tr>
            <tr><td><b>K/D ratio</b></td>
                <td>{{ data.dostats.kills|kdratio(data.dostats.deaths) }}</td>
            </tr>
            <tr><td><b>Average kills</b></td>
                <td>{{ data.dostats.kills|avgkills(data.dogames.total) }}</td>
            </tr>
            <tr><td><b>Average deaths</b></td>
                <td>{{ data.dostats.deaths|avgdeaths(data.dogames.total) }}</td>
            </tr>
        </table>
        <br \>
        <div class="container">
            <div class="pie-chart">
                <canvas id="dochart"></canvas>
                <br \>
            </div>
        </div>
    </div>

    <div class="tab-pane fade show active" id="emhtab" role="tabpanel" aria-labelledby="ffa-tab">
        <table class="profile-table">
            <tr>
                <th> </th>
                <th>Deathmatch (AC4)</th>
            </tr>
            <tr><td><b>MMR</b></td>
                <td>{{data.dmmmr | round() | int() }}</td>
            </tr>
            <tr><td><b>Peak MMR</b></td>
                <td>{{data.dmhistory.mmrs|max() | round() | int() }}</td>
            </tr>
            <tr><td><b>Games played</b></td>
                <td>{{data.dmgames.total}}</td>
            </tr>
            <tr><td><b>Games won</b></td>
                <td>{{data.dmgames.won}}</td>
            </tr>
            <tr><td><b>Games lost</b></td>
                <td>{{data.dmgames.lost}}</td>
            </tr>
            <tr><td><b>Winrate</b></td>
                <td>{{ data.dmgames.won|winrate(data.dmgames.lost) }}</td>
            </tr>
            <tr><td><b>Average score</b></td>
                <td>{{ data.dmstats.totalscore|avgscore(data.dmgames.total) }}</td>
            </tr>
            <tr><td><b>Highest score</b></td>
                <td>{{ data.dmstats.highscore }}</td>
            </tr>
            <tr><td><b>K/D ratio</b></td>
                <td>{{ data.dmstats.kills|kdratio(data.dmstats.deaths) }}</td>
            </tr>
            <tr><td><b>Average kills</b></td>
                <td>{{ data.dmstats.kills|avgkills(data.dmgames.total) }}</td>
            </tr>
            <tr><td><b>Average deaths</b></td>
                <td>{{ data.dmstats.deaths|avgdeaths(data.dmgames.total) }}</td>
            </tr>
        </table>
        <br \>

        <div class="container">
            <div class="pie-chart">
                <canvas id="dmchart"></canvas>
                <br \>
            </div>
        </div>
    </div>

</div>

</div>
</div>
  

<div class="tab-pane fade" id="matches" role="tabpanel" aria-labelledby="matches-tab">
<h3 align="center">Match History</h3>
<br \>
<div align="center">
    <table style="width:90%">
        <tr>
            <th>Mode</th>
            <th>Team 1<table style="width:100%"><tr style="background: transparent;width: 100%">
                <td style="width: 25%;border: 0px">Player</td><td style="width: 25%;border: 0px">Score</td>
                <td style="width: 25%;border: 0px">Kills</td><td style="width: 25%;border: 0px">Deaths</td></tr></table></th>
                <th>Team 2<table style="width:100%"><tr style="background: transparent;width: 100%">
                    <td style="width: 25%;border: 0px">Player</td><td style="width: 25%;border: 0px">Score</td>
                    <td style="width: 25%;border: 0px">Kills</td><td style="width: 25%;border: 0px">Deaths</td></tr></table></th>
            <th>Winner</th>
            <th>Map</th>
            <th>Host</th>
            <th>Rating Change</th>
          </tr>
    {% for entry in data_matches %}
    <tr>
        <td>{{entry.mode}}</td>
        <td><table style="width:100%">{% for player in entry.team1 %}
                <tr style="background: transparent;width: 100%">
                    <td style="width: 25%;border: 0px"><a href="/profile/{{ player.player }}">{{ player.player }}</a></td><td style="width: 25%;border: 0px">{{player.score if entry.mode != "Artifact assault" else player.scored}}</td>
                    <td style="width: 25%;border: 0px">{{player.kills}}</td><td style="width: 25%;border: 0px">{{player.deaths}}</td></tr>
            {% endfor %}
        </table>
        </td>
        <td><table style="width:100%">{% for player in entry.team2 %}
            <tr style="background: transparent;width: 100%">
                <td style="width: 25%;border: 0px"><a href="/profile/{{ player.player }}">{{ player.player }}</a></td><td style="width: 25%;border: 0px">{{player.score if entry.mode != "Artifact assault" else player.scored}}</td>
                <td style="width: 25%;border: 0px">{{player.kills}}</td><td style="width: 25%;border: 0px">{{player.deaths}}</td></tr>
        {% endfor %}
    </table>
    </td>
        {% if entry.outcome == 0%}
        <td>Tie</td>
        {% else%}
        <td>Team {{entry.outcome}}</td>
        {%endif%}
        <td>{{ entry | try_value("map") }}</td>
        <td><a href="/profile/{{ entry | try_value('host') }}">{{ entry | try_value("host") }}</a></td>
        <td>{{ entry.mmrchange }}</td>
    </tr>
    {% endfor %}
    </table>
</div>
</div>

<div class="tab-pane fade" id="mmrhistory" role="tabpanel" aria-labelledby="mmrhistory-tab">
    <h3 align="center">MMR History</h3>
    <br \>
    <div align="center">
        <div class="container">
            <div class="mmr-history">
                <canvas id="mhhist"></canvas>
                <br \>
            </div>
            <div class="mmr-history">
                <canvas id="ehist"></canvas>
                <br \>
            </div>
            <div class="mmr-history">
                <canvas id="aadhist"></canvas>
                <br \>
            </div>
            <div class="mmr-history">
                <canvas id="aarhist"></canvas>
                <br \>
            </div>
            <div class="mmr-history">
                <canvas id="dohist"></canvas>
                <br \>
            </div>
            <div class="mmr-history">
                <canvas id="dmhist"></canvas>
                <br \>
            </div>
        </div>
    </div>
</div>
</div>

{%else%}
<h1>Nothing to show</h1>
{%endif%}



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

<script>
    Chart.defaults.global.defaultFontFamily='Arial';
    var echart = document.getElementById('echart').getContext('2d');
    var escortchart = new Chart(echart, {
        type: 'doughnut',
        data:{
            labels:['WINS', 'LOSSES', 'TIES'],
            datasets:
            [{data:[{{data.egames.won}},{{data.egames.lost}},{{data.egames.total-data.egames.won-data.egames.lost}}], backgroundColor:['#0099ff','#ff5050','#cccccc']}],},options:{title:{display:true,text:'Escort game outcomes',fontSize: 25 },}});
    var mhchart = document.getElementById('mhchart').getContext('2d');
    var manhuntchart = new Chart(mhchart, {
        type: 'doughnut',
        data:{
            labels:['WINS', 'LOSSES', 'TIES'],
            datasets:
            [{data:[{{data.mhgames.won}},{{data.mhgames.lost}},{{data.mhgames.total-data.mhgames.won-data.mhgames.lost}}],backgroundColor:['#0099ff','#ff5050','#cccccc']}],},options:{title:{display:true,text:'Manhunt game outcomes',fontSize: 25},}});
    var gchart = document.getElementById('gchart').getContext('2d');
    var gameschart = new Chart(gchart, {
        type: 'doughnut',
        data:{
            labels:['ESCORT', 'MANHUNT'],
            datasets:
            [{data:[{{data.egames.total}},{{data.mhgames.total}}],backgroundColor:['#0099ff','#33cc33']}],},options:{title:{display:true,text:'Games played',fontSize: 25},}});
   
   
      var aadchart = document.getElementById('aadchart').getContext('2d');
    var aadefchart = new Chart(aadchart, {
        type: 'doughnut',
        data:{
            labels:['WINS', 'LOSSES', 'TIES'],
            datasets:
            [{data:[{{data.aadgames.won}},{{data.aadgames.lost}},{{data.aadgames.total-data.aadgames.won-data.aadgames.lost}}], backgroundColor:['#0099ff','#ff5050','#cccccc']}],},options:{title:{display:true,text:'Defending game outcomes',fontSize: 25 },}});
    var aarchart = document.getElementById('aarchart').getContext('2d');
    var aarunchart = new Chart(aarchart, {
        type: 'doughnut',
        data:{
            labels:['WINS', 'LOSSES', 'TIES'],
            datasets:
            [{data:[{{data.aargames.won}},{{data.aargames.lost}},{{data.aargames.total-data.aargames.won-data.aargames.lost}}],backgroundColor:['#0099ff','#ff5050','#cccccc']}],},options:{title:{display:true,text:'Running game outcomes',fontSize: 25},}});

    var aachart = document.getElementById('aachart').getContext('2d');
    var artachart = new Chart(aachart, {
        type: 'doughnut',
        data:{
            labels:['DEFENDING', 'RUNNING'],
            datasets:
            [{data:[{{data.aadgames.total}},{{data.aargames.total}}],backgroundColor:['#0099ff','#33cc33']}],},options:{title:{display:true,text:'Roles played',fontSize: 25},}});
   
    var dochart = document.getElementById('dochart').getContext('2d');
    var domichart = new Chart(dochart, {
        type: 'doughnut',
        data:{
            labels:['WINS', 'LOSSES', 'TIES'],
            datasets:
            [{data:[{{data.dogames.won}},{{data.dogames.lost}},{{data.dogames.total-data.dogames.won-data.dogames.lost}}],backgroundColor:['#0099ff','#ff5050','#cccccc']}],},options:{title:{display:true,text:'Domination game outcomes',fontSize: 25},}});
    
    var dmchart = document.getElementById('dmchart').getContext('2d');
    var dmatchchart = new Chart(dmchart, {
        type: 'doughnut',
        data:{
            labels:['WINS', 'PODIUM', 'LOSSES'],
            datasets:
            [{data:[{{data.dmgames.won}},{{data.dmgames.podium-data.dmgames.won}},{{data.dmgames.total-data.dmgames.podium}}],backgroundColor:['#0099ff','#ff5050','#cccccc']}],},options:{title:{display:true,text:'Deathmatch game outcomes',fontSize: 25},}});

    var ehist = document.getElementById('ehist').getContext('2d');
    var ehistchart = new Chart(ehist, {
        type: 'line',
        data:{
            labels: {{data.ehistory.dates|safe}},
            datasets:
            [
                {
                    data: {{data.ehistory.mmrs|safe}}, 
                    backgroundColor:'rgba(40, 170, 240, 0.4)',
                    borderColor:'rgba(40, 170, 240, 0.7)',
                    lineTension:0
                }
            ],},
            options:{title:{display:true,text:'Escort MMR',fontSize: 25 },legend:{
                display:false}
            }});
    var mhhist = document.getElementById('mhhist').getContext('2d');
    var mhhistchart = new Chart(mhhist, {
        type: 'line',
        data:{
            labels: {{data.mhhistory.dates|safe}},
            datasets:
            [
                {
                    data: {{data.mhhistory.mmrs|safe}}, 
                    backgroundColor:'rgba(0, 209, 10, 0.4)',
                    borderColor:'rgba(0, 209, 10, 0.7)',
                    lineTension:0
                }
            ],},
            options:{title:{display:true,text:'Manhunt MMR',fontSize: 25 },legend:{
                display:false}
            }});
 
       var aadhist = document.getElementById('aadhist').getContext('2d');
    var aadhistchart = new Chart(aadhist, {
        type: 'line',
        data:{
            labels: {{data.aadhistory.dates|safe}},
            datasets:
            [
                {
                    data: {{data.aadhistory.mmrs|safe}}, 
                    backgroundColor:'rgba(40, 170, 240, 0.4)',
                    borderColor:'rgba(40, 170, 240, 0.7)',
                    lineTension:0
                }
            ],},
            options:{title:{display:true,text:'AA Defending MMR',fontSize: 25 },legend:{
                display:false}
            }});
    var aarhist = document.getElementById('aarhist').getContext('2d');
    var aarhistchart = new Chart(aarhist, {
        type: 'line',
        data:{
            labels: {{data.aarhistory.dates|safe}},
            datasets:
            [
                {
                    data: {{data.aarhistory.mmrs|safe}}, 
                    backgroundColor:'rgba(0, 209, 10, 0.4)',
                    borderColor:'rgba(0, 209, 10, 0.7)',
                    lineTension:0
                }
            ],},
            options:{title:{display:true,text:'AA Running MMR',fontSize: 25 },legend:{
                display:false}
            }});
    var dohist = document.getElementById('dohist').getContext('2d');
    var dohistchart = new Chart(dohist, {
        type: 'line',
        data:{
            labels: {{data.dohistory.dates|safe}},
            datasets:
            [
                {
                    data: {{data.dohistory.mmrs|safe}}, 
                    backgroundColor:'rgba(226, 31, 31, 0.65)',
                    borderColor:'rgba(255, 0, 0, 0.75)',
                    lineTension:0
                }
            ],},
            options:{title:{display:true,text:'Domination MMR',fontSize: 25 },legend:{
                display:false}
            }});
    
    var dmhist = document.getElementById('dmhist').getContext('2d');
    var dmhistchart = new Chart(dmhist, {
        type: 'line',
        data:{
            labels: {{data.dmhistory.dates|safe}},
            datasets:
            [
                {
                    data: {{data.dmhistory.mmrs|safe}}, 
                    backgroundColor:'rgba(226, 31, 31, 0.65)',
                    borderColor:'rgba(255, 0, 0, 0.75)',
                    lineTension:0
                }
            ],},
            options:{title:{display:true,text:'Deatchmatch MMR',fontSize: 25 },legend:{
                display:false}
            }});
</script>
    {% endblock content %}
