{% extends "layout.html" %}
{% block content %}
<meta content="Assassins' Network | {{ mode }} Leaderboard" property="og:title" />
<meta content="{{ mode }} leaderboard." property="og:description" />
    <h1 align="center">{{mode}} Leaderboard</h1>
    <br \>
    <div align="center">
    <table style="white-space:nowrap;">
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Nation</th>
            <th>Points</th>
            <th>Games</th>
            <th>Winrate</th>
        {%if mode == "Deathmatch"%}
            <th>Podium Rate</th>
            <th>Average Finish</th>
        {%endif%}
        {%if mode in ["Escort", "Manhunt", "Deathmatch"]%}
	        <th>Average score</th>
	        <th>K/D</th>
        {%elif mode == "AA Running"%}
	        <th>Average scores</th>
	        <th>Deaths per score</th>
        {%elif mode == "AA Defending"%}
	        <th>Average kills</th>
	        <th>Average concedes</th>
        {%elif mode == "Domination"%}
            <th>K/D</th>
        {%else%}
            <th>AA Defending</th>
            <th>AA Running</th>
            <th>Domination</th>
            <th>Escort</th>
            <th>Manhunt</th>
            <th>Deathmatch</th>
        {%endif%}
        </tr>
    {% for entry in data %}
    <tr>
        {%if mode == "Escort"%}
            {% if entry.erank == 0 %}
                <td>TBD</td>
            {% else %}
                {%if entry.erankchange < 0%}
                    <td>{{ entry.erank }} <span style="color:red;">&#9660;{{ -1 * entry.erankchange }}</span></td>
                {%elif entry.erankchange > 0%}
                    <td>{{ entry.erank }} <span style="color:green;">&#9650;{{ entry.erankchange }}</span></td>
                {%else%}
                    <td>{{ entry.erank }}</td>
                {%endif%}
            {%endif%}
            <td><img src="/static/badges/{{ entry.emmr|rank_pic_small() }}"> <a href="/profile/{{ entry.name }}">{{ entry.name }}</a> {{ entry.badges|transform_badges(mode)|safe}}</td>
            <td><img src="https://raw.githubusercontent.com/gosquared/flags/master/flags/flags-iso/flat/24/{{entry.nation}}.png"></td>
            <td>{{ entry.emmr | round() | int() }}</td>
            <td>{{ entry.egames.total }}</td>
            <td>{{ entry.egames.won | winrate(entry.egames.lost) }}</td>
	        <td>{{ entry.estats.totalscore|avgscore(entry.egames.total) }}</td>
	        <td>{{ entry.estats.kills|kdratio(entry.estats.deaths) }}</td>
        {%elif mode == "AA Running"%}
            {% if entry.aarrank == 0 %}
                <td>TBD</td>
            {% else %}
                {%if entry.aarrankchange < 0%}
                    <td>{{ entry.aarrank }} <span style="color:red;">&#9660;{{ -1 * entry.aarrankchange }}</span></td>
                {%elif entry.aarrankchange > 0%}
                    <td>{{ entry.aarrank }} <span style="color:green;">&#9650;{{ entry.aarrankchange }}</span></td>
                {%else%}
                    <td>{{ entry.aarrank }}</td>
                {%endif%}
            {%endif%}
            <td><img src="/static/badges/{{ entry.aarmmr|rank_pic_small() }}"> <a href="/profile/{{ entry.name }}">{{ entry.name }}</a> {{ entry.badges|transform_badges(mode)|safe}}</td>
            <td><img src="https://raw.githubusercontent.com/gosquared/flags/master/flags/flags-iso/flat/24/{{entry.nation}}.png"></td>
            <td>{{ entry.aarmmr | round() | int() }}</td>
            <td>{{ entry.aargames.total }}</td>
            <td>{{ entry.aargames.won | winrate(entry.aargames.lost) }}</td>
	        <td>{{ entry.aarstats.scored|avgscore(entry.aargames.total) }}</td>
	        <td>{{ entry.aarstats.deaths|kdratio(entry.aarstats.scored) }}</td>
        {%elif mode == "AA Defending"%}
            {% if entry.aadrank == 0 %}
                <td>TBD</td>
            {% else %}
                {%if entry.aadrankchange < 0%}
                    <td>{{ entry.aadrank }} <span style="color:red;">&#9660;{{ -1 * entry.aadrankchange }}</span></td>
                {%elif entry.aadrankchange > 0%}
                    <td>{{ entry.aadrank }} <span style="color:green;">&#9650;{{ entry.aadrankchange }}</span></td>
                {%else%}
                    <td>{{ entry.aadrank }}</td>
                {%endif%}
            {%endif%}
            <td><img src="/static/badges/{{ entry.aadmmr|rank_pic_small() }}"> <a href="/profile/{{ entry.name }}">{{ entry.name }}</a> {{ entry.badges|transform_badges(mode)|safe}}</td>
            <td><img src="https://raw.githubusercontent.com/gosquared/flags/master/flags/flags-iso/flat/24/{{entry.nation}}.png"></td>
            <td>{{ entry.aadmmr | round() | int() }}</td>
            <td>{{ entry.aadgames.total }}</td>
            <td>{{ entry.aadgames.won | winrate(entry.aadgames.lost) }}</td>
	        <td>{{ entry.aadstats.kills|avgscore(entry.aadgames.total) }}</td>
	        <td>{{ entry.aadstats.conceded|avgdeaths(entry.aadgames.total) }}</td>
        {%elif mode == "Domination"%}
            {% if entry.dorank == 0 %}
                <td>TBD</td>
            {% else %}
                {%if entry.dorankchange < 0%}
                    <td>{{ entry.dorank }} <span style="color:red;">&#9660;{{ -1 * entry.dorankchange }}</span></td>
                {%elif entry.dorankchange > 0%}
                    <td>{{ entry.dorank }} <span style="color:green;">&#9650;{{ entry.dorankchange }}</span></td>
                {%else%}
                    <td>{{ entry.dorank }}</td>
                {%endif%}
            {%endif%}
            <td><img src="/static/badges/{{ entry.dommr|rank_pic_small() }}"> <a href="/profile/{{ entry.name }}">{{ entry.name }}</a> {{ entry.badges|transform_badges(mode)|safe}}</td>
            <td><img src="https://raw.githubusercontent.com/gosquared/flags/master/flags/flags-iso/flat/24/{{entry.nation}}.png"></td>
            <td>{{ entry.dommr | round() | int() }}</td>
            <td>{{ entry.dogames.total }}</td>
            <td>{{ entry.dogames.won | winrate(entry.dogames.lost) }}</td>
	        <td>{{ entry.dostats.kills|kdratio(entry.dostats.deaths) }}</td>
        {%elif mode == "Manhunt"%}
            {% if entry.mhrank == 0 %}
                <td>TBD</td>
            {% else %}
                {%if entry.mhrankchange < 0%}
                    <td>{{ entry.mhrank }} <span style="color:red;">&#9660;{{ -1 * entry.mhrankchange }}</span></td>
                {%elif entry.mhrankchange > 0%}
                    <td>{{ entry.mhrank }} <span style="color:green;">&#9650;{{ entry.mhrankchange }}</span></td>
                {%else%}
                    <td>{{ entry.mhrank }}</td>
                {%endif%}
            {%endif%}
            <td><img src="/static/badges/{{ entry.mhmmr|rank_pic_small() }}"> <a href="/profile/{{ entry.name }}">{{ entry.name }}</a> {{ entry.badges|transform_badges(mode)|safe}}</td>
            <td><img src="https://raw.githubusercontent.com/gosquared/flags/master/flags/flags-iso/flat/24/{{entry.nation}}.png"></td>
            <td>{{ entry.mhmmr | round() | int() }}</td>
            <td>{{ entry.mhgames.total }}</td>
            <td>{{ entry.mhgames.won | winrate(entry.mhgames.lost) }}</td>
	        <td>{{ entry.mhstats.totalscore|avgscore(entry.mhgames.total) }}</td>
	        <td>{{ entry.mhstats.kills|kdratio(entry.mhstats.deaths) }}</td>
        {%elif mode == "Deathmatch"%}
            {% if entry.dmrank == 0 %}
                <td>TBD</td>
            {% else %}
                {%if entry.dmrankchange < 0%}
                    <td>{{ entry.dmrank }} <span style="color:red;">&#9660;{{ -1 * entry.dmrankchange }}</span></td>
                {%elif entry.dmrankchange > 0%}
                    <td>{{ entry.dmrank }} <span style="color:green;">&#9650;{{ entry.dmrankchange }}</span></td>
                {%else%}
                    <td>{{ entry.dmrank }}</td>
                {%endif%}
            {%endif%}
            <td><img src="/static/badges/{{ entry.dmmmr|rank_pic_small() }}"> <a href="/profile/{{ entry.name }}">{{ entry.name }}</a> {{ entry.badges|transform_badges(mode)|safe}}</td>
            <td><img src="https://raw.githubusercontent.com/gosquared/flags/master/flags/flags-iso/flat/24/{{entry.nation}}.png"></td>
            <td>{{ entry.dmmmr | round() | int() }}</td>
            <td>{{ entry.dmgames.total }}</td>
            <td>{{ entry.dmgames.won | winrate(entry.dmgames.lost) }}</td>
            <td>{{ entry.dmgames.podium| winrate(entry.dmgames.lost) }}</td>
            <td>{{ entry.dmgames.finishes| kdratio(entry.dmgames.total) }}</td>
	        <td>{{ entry.dmstats.totalscore|avgscore(entry.dmgames.total) }}</td>
	        <td>{{ entry.dmstats.kills|kdratio(entry.dmstats.deaths) }}</td>
        {%else%}
            <td>{{ entry.totalrank }}</td>
            <td><a href="/profile/{{ entry.name }}">{{ entry.name }}</a></td>
            <td><img src="https://raw.githubusercontent.com/gosquared/flags/master/flags/flags-iso/flat/24/{{entry.nation}}.png"></td>
            <td>{{ entry.totalmmr | round() | int() }}</td>
            <td>{{ entry.totalgames }}</td>
            <td>{{ entry.totalwins | winrate(entry.totallosses) }}</td>
            {%if entry.aadgames.total < 10%}
                <td>TBD</td>
            {%else%}
                <td><img src="/static/badges/{{ entry.aadmmr|rank_pic_small() }}">{{ entry.aadmmr | round() | int() }}</td>
            {%endif%}
            {%if entry.aargames.total < 10%}
                <td>TBD</td>
            {%else%}
                <td><img src="/static/badges/{{ entry.aarmmr|rank_pic_small() }}">{{ entry.aarmmr | round() | int() }}</td>
            {%endif%}
            {%if entry.dogames.total < 10%}
                <td>TBD</td>
            {%else%}
                <td><img src="/static/badges/{{ entry.dommr|rank_pic_small() }}">{{ entry.dommr | round() | int() }}</td>
            {%endif%}
            {%if entry.egames.total < 10%}
                <td>TBD</td>
            {%else%}
                <td><img src="/static/badges/{{ entry.emmr|rank_pic_small() }}">{{ entry.emmr | round() | int() }}</td>
            {%endif%}
            {%if entry.mhgames.total < 10%}
                <td>TBD</td>
            {%else%}
                <td><img src="/static/badges/{{ entry.mhmmr|rank_pic_small() }}">{{ entry.mhmmr | round() | int() }}</td>
            {%endif%}
            {%if entry.dmgames.total < 10%}
                <td>TBD</td>
            {%else%}
                <td><img src="/static/badges/{{ entry.dmmmr|rank_pic_small() }}">{{ entry.dmmmr | round() | int() }}</td>
            {%endif%}
        {%endif%}
    </tr>
    {% endfor %}
    </table>
    </div>
    {% endblock content %}
