{% extends "layout.html" %}
{% block content %}
<meta content="Assassins' Network | Status" property="og:title" />
<meta content="Assassin's Creed multiplayer server status page." property="og:description" />
<meta content="https://assassins.network/status" property="og:url" />
    <h1 align="center">ACB Status</h1>
    <br \>
    <div align="center">
    <table>
        <tr>
            <th>Server</th>
            <th>Status</th>
        </tr>
    {% for entry in data %}
    <tr>
        <td>{{ entry.name }}</td>
        {%if entry.status %}
            <td><span style="color:green;">&#10003;</span></td>
        {%else%}
            <td><span style="color:red;">&#10060;</span></td>
        {%endif%}
    </tr>
    {% endfor %}
    </table>
    </div>
    {% endblock content %}
