{% extends "layout.html" %}
{% block content %}
<div class="wrapper">
    <center><h1>EPIC GAMER ESCORT TOURNAMENT</h1>
        <p>Since the other games aren't working anymore, we're hosting an ACB Escort tournament for all the non-ACB players. The tournament will be played in a standard 2v2 format (full rulebook <a href="https://rulebook.assassins.network/">here</a>), meaning you only have to find ONE teammate to play with. Additionally, EVERYONE who plays a SINGLE game will get a $5 cash prize and an achievement badge on AN. The winning team will, of course, get their own larger cash prize and a fancier &#127942 badge on AN.<br \>
        <br \>

    The following players are banned from playing and will instead be available for coaching and practice before the tournament and casting during the tournament: Dellpit, Jelko, MrEirox123, Neenkin, Sugarfree, and Tha Fazz.
    <br \>
    <br \>

    The current plan is to hold the tournament on the weekend of October 28th-29th. The tournament will be in a double elimination format, so after losing your first round you can channel your inner Lightsweety and free run through the lower bracket to snatch that &#127942 those filthy domination players.
    <br \>
    <br \>

    For signing up and more information, please go to <a href="https://discord.gg/Th5rm6qz5u">the official Discord server</a>.
    </center>
</div>

{% endblock content %}
