{% extends "layout.html" %}
{% block content %}
<div class="wrapper">
    <center><h1>10th Anniversary Manhunt Tournament</h1>
    <p>It's been ten years now. Spending most of that time searching for other Abstergo agents was quite a ride. And what a ride awaits us now!<br \>
    Prepare for the 10th Anniversary Assassin's Creed Brotherhood Multiplayer Manhunt Tournament!<br \>Proudly sponsored and organised by the most beloved <a href="https://twitter.com/smexopolis">Government of Smexopolis</a>!
        <p><h2>Participants:</h2></p>
         <table>
        <tr>
            <th>Team name</th>
            <th>Players</th>
          </tr>
    
    <tr>
        <td rowspan="3">TBA</td>
        <td><b>Dellpit</b></td>

    </tr>
  
    <tr>
        <td>DevelSpirit</td>
    </tr>
 
    <tr>
        <td>TBA</td>
    </tr>
    
    </center>
</div>

{% endblock content %}
