{% extends "layout.html" %}
{% block content %}
<div class="wrapper">
    <center><h1>10th Anniversary Manhunt Tournament</h1>
    <p>It's been ten years now. Having spent most of that time looking for other Abstergo Agents was quite a ride. And what a ride awaits us now!</p>
    <p>Prepare for the 10th Anniversary Assassin's Creed Brotherhood Multiplayer Manhunt Tournament! Proudly sponsored and organised by the most beloved <a href="https://twitter.com/smexopolis">Government of Smexopolis</a>!</p>
    </center>
</div>

{% endblock content %}
